@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fcfcfc;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: #fef7e5;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-elements ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 30px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 500;
  color: #2f234f;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.nav-elements ul a:hover {
  color: #574c4c;
}

.nav-elements ul a.active {
  color: #574c4c;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

.navbar-brand {
  font-weight: bold;
  font-size: 32;
}

.nav-link {
  margin-right: 20px;
  color: #2f234f;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: golden;
}
